<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}

      {% endblock %}- TODO
    </title>
    <link rel="icon" href="{{ url_for('static', filename='appicon.ico') }}" type="image/ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
  </head>
  <body>
    {# Navbar #}
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid d-flex align-items-center justify-content-start">
        <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='appicon.png') }}" href="/" alt="TODO" width="50" /></a>
        <a class="nav-link ms-3 me-5 fs-2" href="#">ADD TODO</a>
        <a class="nav-link me-5 fs-2" href="#">VIEW PENDING TODO</a>
        <a class="nav-link fs-2" href="#">VIEW COMPLETED TODO</a>
      </div>
    </nav>
    {% block content %}  {% endblock %}
      {# Footer #}
      <footer class="bg-light fs-2 text-center fixed-bottom py-3">
        © {{ year }} TODO
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>
