{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{{ url_for('static',filename='appicon.png') }}" alt="TODO" width="300"/> <h1 class="display-5 fw-bold text-body-emphasis">Keep your tasks organized, prioritized, and on track.</h1> <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 fs-4">A todo application is a simple, efficient tool that helps users organize, prioritize, and track their daily tasks and goals. It improves productivity by allowing users to add, edit, and check off tasks conveniently. With features such as reminders, deadlines, and categorization, it keeps users focused and on schedule, making task management stress-free and effective. This app is essential for anyone looking to boost their time management and achieve more each day.</p> 
    </div>
  </div>
{% endblock %}
